<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>TodoList Vue</title>
    <script src="../js/vue.js"></script>
</head>
<body>

<div id="app">
    <input type="text" v-model="inputValue"/>
    <button v-on:click="submit">{{buttonName}}</button>
    <ul>
        <!--v-bind: 可简写为 :-->
        <todo-item v-bind:item="item"
                   :index="index"
                   v-for="(item, index) in list"
                   @delete="handleItemDelete">
        
        </todo-item>
    </ul>
</div>

<script>
    /*// 全局组件
    Vue.component('TodoItem', {
        props: ['item'],
        template: '<li>{{item}}</li>'
    })*/

    // 局部组件
    var TodoItem = {
        props: ['item', 'index'],
        // v-on: 可简写为 @
        template:
            `<li>
                <h3>
                    {{index+1}} . {{item}}
                    <button @click="handleItemClick">remove</button>
                </h3>
            </li>`,
        methods: {
            handleItemClick () {
                this.$emit('delete', this.index)
            }
        }
    }

    var vm = new Vue({
        el: '#app',

        // 组件
        components: {
            // 将组件 TodoItem 注册到vue实例中
            TodoItem: TodoItem
        },

        data: {
            inputValue: 'example',
            buttonName: '提交',
            list: ['dsadsa']
        },

        methods: {
            submit () {
                if (this.inputValue) {
                    this.list.push(this.inputValue)
                    this.inputValue = 'example'
                }
            },
            handleItemDelete (index) {
                this.list.splice(index, 1)
            }
        }
    })
</script>

</body>
</html>